@font-face {
    font-family: Gasalt-Black;
    src: url(fonts/Gasalt-Black.ttf);
    font-family: Gasalt-Thin;
    src: url(fonts/Gasalt-Thin.ttf);
    font-family: Gasalt-Regular;
    src: url(fonts/Gasalt-Regular.ttf);
  }
  
  body{
      background-color: rgb(206, 206, 206);
      font-family: Gasalt-Thin;
  }
  .container {
    padding: 70px;
    margin-inline: 250px ;
    margin-top: 250px;
    margin-bottom: 250px;
    background-color: rgb(255, 255, 255);  
  }
  .profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-inline: 500px ;
    
  }